
.nav-header-ternium{
    display: flex;
    overflow: visible; 
    flex-direction: row;
}


.button-ternium{
    display: flex;
    background-color: white !important;
    color: black;
    border-color: white !important;
    box-shadow: 1px 1px 1px 1px rgb(110, 110, 110) !important;
}

span{
    color: gray !important;
    margin-left: 10px;
}

.btn-primary:focus, .btn-primary:active, .btn-primary:hover{
    color: rgb(233, 233, 233) !important;

}

.fa-bars{
    color: gray;
}

.button-ternium:hover{
    background-color: rgb(233, 233, 233) !important;
    color: rgb(233, 233, 233);
}

.button-ternium:focus{
    background-color: orange;
    color: white;
    border-color: lightgray;    
}

a.nav-link{
    color: gray;
}

a.nav-link:hover{
    color: orange;
}

a.nav-link:focus{
    color: orange;
}

a.nav-link.active{
    color: orange !important;
}

.area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-group-item , .list-group-item-action{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 80px;
}

.logo-ternium{
    height: 50px;
}

.nav-item{
    font-size: large;
}