.nav-ternium{
    display: flex;
    flex-direction: row;
}

.nav-header-ternium{
    display: flex;
    overflow: visible; 
    flex-direction: row;
}

.button-ternium{
    background-color: white;
    color: black;
    border-color: white;
    width: 80px;
    box-shadow: 1px 1px 1px 1px rgb(110, 110, 110);
}

.btn-primary:focus, .btn-primary:active, .btn-primary:hover{
    color: white;
}

.button-ternium:hover{
    background-color: orange;
    color: white;
    border-color: white;
}

.button-ternium:focus{
    background-color: orange;
    color: white;
    border-color: white;    
}

a.nav-link{
    color: gray;
}

a.nav-link:hover{
    color: orange;
}

a.nav-link:focus{
    color: orange;
}

a.nav-link.active{
    color: orange !important;
}

.area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.list-group-item-action{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}